@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>I like work; it fascinates me. I can sit and look at it for hours</h3>
</div>
